.navbar-admin {
    background: $color2 !important;
}

.table-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

tr>td>div>a>.btn {
    width: 120px;
}

.backend-img {
    width: 150px;
    height: 100px;
}